<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Orders</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/adminHeader" :: header></header>

<div class="container my-2">
    <h1>Orders</h1>

    <table border="1" class="table table-striped table-responsive-md">
    <tr>
        <th>Order id</th>
        <th>User</th>
        <th>Car</th>
        <th>Driver</th>
        <th>Term</th>
        <th>Total cost</th>
        <th>Order status</th>
        <th>Action</th>
    </tr>
    <div th:each="user_order : ${orders}">
        <tr>
            <td><p th:text="${user_order.getId()}">order id</p></td>
            <td><p th:text="${user_order.getUser().getUsername()}">user</p></td>
            <td><p th:text="${user_order.getCar().getMarque()}+' '
                +${user_order.getCar().getModel()}+' ,id:'
                +${user_order.getCar().getId()}">Car</p></td>
            <td><p th:text="${user_order.getDriver()}">Driver</p></td>
            <td><p th:text="${user_order.getTerm()}">Term</p></td>
            <td><p th:text="${user_order.getTotal_cost()}">Total</p></td>
            <td>
                <p th:text="${user_order.getOrder_status()}">Status</p>
                <form th:action="@{/admin/order/status}" method="post">
                    <select name="order_status">
                        <option value="CONFIRMED">confirmed</option>
                        <option value="REJECTED">rejected</option>
                        <option value="CHECKING">checking</option>
                    </select>
                    <input type="hidden" name="order_id" th:value="${user_order.getId()}">
                    <input type="submit" value="set" class="btn btn-primary btn-sm">
                </form>
            </td>
            <td>
                <form method="post" th:action="@{/admin/order/finish}">
                    <input type="hidden" name="orderId" th:value="${user_order.getId()}">
                    <input type="hidden" name="carId" th:value="${user_order.getCar().getId()}">
                    <input type="submit" value="finish" class="btn btn-success">
                </form>
            </td>
        </tr>
    </div>
</table>
</div>
<!-- pagination -->
<div th:if="${totalPages > 1}">
    <div class="row col-sm-10">
        <div class="col-sm-2">
            Total rows: [[${totalItems}]]
        </div>
        <div class="col-sm-2">
            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a class="btn btn-outline-primary"
                   th:if="${currentPage != i}"
                   th:href="@{/admin/orders/page/{u}(u=${i})}">[[${i}]]</a>
             <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
             </span>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-outline-primary"
               th:if="${currentPage < totalPages}"
               th:href="@{/admin/orders/page/{z}(z=${currentPage + 1})}">Next
            </a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-outline-primary"
               th:if="${currentPage < totalPages}"
               th:href="@{/admin/orders/page/{z}(z=${totalPages})}">Last
            </a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>
<!-- pagination -->
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out" class="btn btn-secondary"/>
</form>
<footer th:insert="blocks/footer" :: footer></footer>
</body>
</html>