<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>User List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<header th:insert="blocks/adminHeader" :: header></header>
<div class="container my-2">
    <h1>Users</h1>
<table border="1" class="table table-striped table-responsive-md">
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Active</th>
        <th>Role</th>
        <th>Action</th>
    </tr>
    <div th:each="user : ${users}">
        <tr>
            <td><p th:text="${user.getId()}"></p></td>
            <td><p th:text="${user.getUsername()}"></p></td>
            <td><p th:text="${user.getEmail()}"></p></td>
            <td><p th:text="${user.isActive()}"></p></td>
            <td><p th:text="${user.getRole()}"></p></td>
            <td>
                <table>
                    <tr>
                        <th>
                            <form th:action="@{/admin/users/update/{id}(id=${user.getId()})}"
                                  th:method="get">
                                <input type="submit" value="update" class="btn btn-warning">
                            </form>
                        </th>
                        <th>
                            <form th:action="@{/admin/users/delete/{id}(id=${user.getId()})}"
                                  th:method="post">
                                <input type="submit" value="delete" class="btn btn-danger">
                            </form>
                        </th>
                    </tr>
                </table>
            </td>
        </tr>
    </div>
</table>
</div>
<!-- pagination -->
<div th:if="${totalPages > 1}">
    <div class="row col-sm-10">
        <div class="col-sm-2">
            Total rows: [[${totalItems}]]
        </div>
        <div class="col-sm-2">
            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                <a class="btn btn-outline-primary"
                   th:if="${currentPage != i}"
                   th:href="@{/admin/users/page/{u}(u=${i})}">[[${i}]]</a>
             <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
             </span>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-outline-primary"
               th:if="${currentPage < totalPages}"
               th:href="@{/admin/users/page/{z}(z=${currentPage + 1})}">Next
            </a>
            <span th:unless="${currentPage < totalPages}">Next</span>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-outline-primary"
               th:if="${currentPage < totalPages}"
               th:href="@{/admin/users/page/{z}(z=${totalPages})}">Last
            </a>
            <span th:unless="${currentPage < totalPages}">Last</span>
        </div>
    </div>
</div>
<!-- pagination -->
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out" class="btn btn-secondary"/>
</form>
<footer th:insert="blocks/footer" :: footer></footer>
</body>
</html>