<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Car List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header" :: header></header>
<div th:each="car : ${cars}">
    <p th:text="${car.getMarque()+', '+car.getModel()+', '+car.getComfort()+', '+car.getPrice()}">info</p>

    <form th:action="@{/user/make_order/{id}(id=${car.getId()})}"
          method="post"
          th:object="${car}">
        <label>Driver:
            <select name="driver">
                <option value="YES">YES</option>
                <option value="NO" selected>NO</option>
            </select>
        </label>
        <label>Term:
            <input type="number" name="term">
        </label>
        <input type="submit" value="make order">
    </form>
</div>
<hr/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<footer th:insert="blocks/footer" :: footer></footer>
</body>
</html>